body{
	margin: 0;
	padding: 0;
	font-family: 'serif';
}
/*INICIA LA PARTE DEL ENCABEZADO Y DEL LOGO IHER*/
#linea{
	width: 100%;
	height: 5px;
	background: #FDD700;
}

#encabezado{
	width: auto;
	height: 133px;
	border: 0px solid;
	background: #20B2AA;
}

#centro{
	width: 100%;
	overflow: hidden;
	background: #FFCC99;
	height: 100vh;
}

#mapa{
	overflow: hidden;
	background: #99FFFF;
}

#formulario{
	overflow: hidden;
	background: #339966;
	height: 100vh;
}

#formularioII{
	overflow: hidden;
	background: #D3FAC7;
	height: 100vh;
}

#datosgenerales{
	width: 1000px;
	height: cover;
	border: 2px solid #EC5657;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #ffffff;
}

#datospersonales{
	width: 1000px;
	height: cover;
	border: 2px solid #EC5657;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #ffffff;
}

#datos{
	width: 1000px;
	height: cover;
	border: 2px solid #EC5657;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #ffffff;
}

#academico{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 2px solid #EC5657;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #ffffff;
}

.encabezados{
	font-family: 'Arial Black';
	font-size: 40px;
}

.t1{
	color: #0489B1;
}

#encabezado #logo{
	width: 500px;
	height: auto;
	border: 0px solid;
	float: left;
}

#encabezado #logo h2{
	color: #fff;
	margin-top: 40px;
}
.imagen{
	width: 100px;
	height: auto;
	margin-top: 20px;
	float: left;
	margin-right: 15px;
	margin-left: 20px;
	border-radius: 50px;
}

/*FINALIZA LA PARTE DEL ENCABEZADO Y DEL LOGO IHER*/

/*Estilo para el vídeo*/
.main{
	width: 80%;
	margin: 10%;
}

h1{
	text-align: center;
}

video{
	width: 100%;
}

/*Estilo Galeria*/
.contenedor1{
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: left;
	height: 100vh;
	position: absolute;
	top: 600px;
}

.contenedor1 figure{
	position: relative;
	height: 250px;
	width: 350px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0px 15px 25px
	rgba(0,0,0,0.50);
	cursor: pointer;
}

.contenedor1 figure img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.contenedor1 figure .capa1{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11,103,123,0.6);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

.contenedor1 figure:hover > .capa1{
	opacity: 1;
	visibility: visible;
}

.contenedor1 figure:hover > .capa1 h3{
	margin-top: 70px;
	margin-bottom: 15px;
}

.contenedor1 figure:hover > img{
	transform: scale(1.3);
}

.contenedor1 figure .capa1 h3{
	color: #fff;
	font-weight: 400;
	margin-bottom: 120px;
	transition: all 500ms ease-out;
	margin-top: 30px;
}

.contenedor1 figure .capa1 p{
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	max-width: 220;
	margin: auto;
}

.contenedor{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1{
	text-align: center;
}
.contenedor figure{
	position: relative;
	height: 250px;
	width: 350px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0px 15px 25px
	rgba(0,0,0,0.50);
	cursor: pointer;
}

.contenedor figure img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.contenedor figure .capa{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11,103,123,0.6);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

.contenedor figure:hover > .capa{
	opacity: 1;
	visibility: visible;
}

.contenedor figure:hover > .capa h3{
	margin-top: 70px;
	margin-bottom: 15px;
}

.contenedor figure:hover > img{
	transform: scale(1.3);
}

.contenedor figure .capa h3{
	color: #fff;
	font-weight: 400;
	margin-bottom: 120px;
	transition: all 500ms ease-out;
	margin-top: 30px;
}

.contenedor figure .capa p{
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	max-width: 220;
	margin: auto;
}
/*-------------Pie------------*/
#pie{
	width: 100%;
	height: 90px;
}

#pie #centro-pie{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto;
}


/*INICIA LA PARTE DEL MENU PROPIEDADES GENERALES*/
#encabezado .menu{
	width: 790px;
	float: right;
	margin-top: 40px;
	text-align: center;
	border: 0px solid;
	font-size: 25px;
}

nav ul{
	list-style: none;
	padding: 0;
}

nav li{
	line-height: 2.5rem;
	position: relative;
}

.menu ul{
	position: absolute;
}

nav a{
	color: #fff;
	display: block;
	text-decoration: none;
	transition: .4s;
	padding: 10px 20px;
}

nav a:hover{
	background: rgba(0,0,0,.5);
}

nav li ul{
	float: right;
	font-size: 17px;
}


/*menu parte primer nivel*/
.menu{
	background: #20B2AA;
	display: table;
	height: auto;
}

.menu >li{
	float: left;
}

/*menu parte segundo nivel*/
nav li li{
	background: #20B2AA;
	max-height: 0;
	overflow: hidden;
	transition: all .1s;
	width: 155px;
}

nav li:hover > ul > li{
	max-height: 500px;
	overflow: visible;
}

.menu > li > ul{
	top: 100%;
}

/*menu parte tercer nivel*/
.menu ul ul {
	left: 100%;
	top: 0;
}

/*FINALIZA LA PARTE DEL MENU*/

/*DE AQUI EN ADELANTE ES EL CÓDIGO DE LA TABLA*/
table#mitabla {border-collapse: collapse;}
td.bajo {background-color: #ff455e;}
td.medio {background-color: #d63e3e;}
td.alto {background-color: #940014;}

td.a {background-color: #243ff0;}
td.b {background-color: #1726cf;}
td.c {background-color: #100085;}

td.aaa {background-color: #f8ff94;}
td.bbb {background-color: #fff64f;}
td.ccc {background-color: #ffff00;}

thead.cabecera tr td {
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	paddings: 15px;}

tfoot.pie tr td {
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia;
	padding: 2px;}

tbody.cuerpo tr td {
	color: #ebebeb;
	padding: 10px;}

td {border-style: solid;
	border-color: #cccccc;
border-width: 2px;}
}